.commitment-container {
  margin: 30px auto;
  width: 500px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
